@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.navbar {
    top: 5%;
    z-index: 20;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(45, 45, 45, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-nav .nav-link:hover {
    color: #e9c004;
}

.navbar-logo-min{
    width: 25%;
    height: 25%;
}

.section-big-container{
    height: 40vh;
}
.section-container{
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.250), rgba(0, 0, 0, 1)), url("../images/banner.jpg");*/
    background-image: url("../images/banner.jpg");
    background-position: 50%;
    height: 100%;
    background-size: cover;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.offcanvas{
    background: rgba(45, 45, 45, 1);
}

.offcanvas-title{
    color: #ffffff;
}

.tittle-color{
    color: #006699;
}

.button-color{
    background-color: #006699;
    color: white;
}

.button-color:hover{
    background-color: rgba(0, 85, 128, 0.95);
    /*background-color: #e9c004;*/
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-position: 50%;
    height: 100%;
    background-size: cover;
    min-height: 25vh;
}

.pdf-link{
    text-decoration: none;
    color: black;
}

.pdf-link:hover{
    text-decoration: underline;
    color: #006699;
}

/* linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), */

.servicio1{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.servicio2{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/transporteResiduos.jpg");*/
    background-image: url("../images/transporteResiduos.jpg");
}

.servicio3{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/limpiezaTanque.jpg");*/
    background-image: url("../images/limpiezaTanque.jpg");
}

.servicio4{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/grua.jpg");*/
    background-image: url("../images/grua.jpg");
}

.servicio5{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/hidroGruas.jpg");*/
    background-image: url("../images/hidroGruas.jpg");
}

.servicio6{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/aibs.jpg");*/
    background-image: url("../images/aibs.jpg");
}

.servicio7{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/alquilerGruas.jpg");*/
    background-image: url("../images/alquilerGruas.jpg");
}

.servicio8{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.servicio9{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.servicio10{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.servicio11{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.servicio12{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.servicio13{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("../images/tratamientoResiduos.jpg");*/
    background-image: url("../images/tratamientoResiduos.jpg");
}

.card:hover .card-title {
    color: #0d6efd;
    transition: color 0.3s ease;
}

.footer {
    background-color: #343a40;
    color: #f8f9fa;
    font-size: 14px;
}

.footer-logo {
    max-width: 100px;
    height: auto;
}

.footer p {
    margin: 0;
}

.footer a{
    margin: 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
}

.footer a:hover{
    color:rgba(255, 255, 255, 1)
}

.test-bg{
    background-color: red;
}